[submodule "aframe-lod"]
	path = aframe-lod
	url = https://github.com/mflux/aframe-lod
[submodule "dinovr"]
	path = dinovr
	url = https://github.com/mflux/dinovr.git
[submodule "stacks"]
	path = stacks
	url = git@github.com:mflux/stacks.git
